logs
project/project
project/target
target
tmp
.history
dist
/.idea
/*.iml
/out
/.idea_modules
/.classpath
/.project
/RUNNING_PID
/.settings
war/WEB-INF/lib
.cache
.class
bin
.*.lock
precompiled
classes
eclipse
.project
.classpath
public/javascripts/press/*
public/stylesheets/press/*
test-result
/lib
/modules
*.pyc
.DS_Store